{% macro etcd_hosts() %}
{%- for host in groups['k8s_etcd'] -%}
https://{{hostvars[host]['ansible_' + k8s_interface].ipv4.address}}:{{etcd_client_port}}{% if not loop.last %},{% endif %}
{%- endfor -%}
{% endmacro %}

FLANNELD_IFACE="{{k8s_interface}}"
FLANNELD_PUBLIC_IP="{{hostvars[inventory_hostname]['ansible_' + k8s_interface].ipv4.address}}"
FLANNELD_ETCD_ENDPOINTS="{{etcd_hosts()}}"
FLANNELD_ETCD_CAFILE="{{k8s_conf_dir}}/ca-etcd.pem"
FLANNELD_ETCD_CERTFILE="{{k8s_conf_dir}}/cert-etcd.pem"
FLANNELD_ETCD_KEYFILE="{{k8s_conf_dir}}/cert-etcd-key.pem"
FLANNELD_ETCD_PREFIX="{{flannel_etcd_prefix}}"
FLANNELD_SUBNET_FILE="{{flannel_subnet_file_dir}}/subnet.env"
