---
- name: Check if flannel network configuration in etcd is done
  shell: "ETCDCTL_API=3 {{etcd_bin_dir}}/etcdctl get {{flannel_etcd_prefix}}/config"
  register: flannel_configured
  run_once: true
  delegate_to: "{{groups.k8s_etcd|first}}"
  tags:
    - k8s-flannel

- name: Setup flannel network configuration in etcd if needed
  shell: "ETCDCTL_API=3 {{etcd_bin_dir}}/etcdctl put {{flannel_etcd_prefix}}/config \'{\"Network\":\"{{flannel_ip_range}}\",\"Backend\":{\"Type\": \"{{flannel_backend_type}}\"}}\'"
  when: flannel_configured.stdout == ""
  run_once: true
  delegate_to: "{{groups.k8s_etcd|first}}"
  tags:
    - k8s-flannel

- name: Create Kubernetes config directory
  file:
    path: "{{k8s_conf_dir}}"
    state: directory
    mode: 0700
    owner: root
    group: root
  tags:
    - k8s-flannel

- name: Copy etcd certificates
  copy:
    src: "{{k8s_ca_conf_directory}}/{{item}}"
    dest: "{{k8s_conf_dir}}/{{item}}"
    mode: 0640
    owner: root
    group: root
  with_items:
    - "{{etcd_certificates}}"
  tags:
    - k8s-flannel

- name: Downloading official flanneld binary
  get_url:
    url: https://github.com/coreos/flannel/releases/download/{{flannel_version}}/flanneld-amd64
    dest: "{{flannel_bin_dir}}/flanneld"
    mode: 0750
  tags:
    - k8s-flannel

- name: Install systemd service for flanneld
  template:
    src: etc/systemd/system/flanneld.service.j2
    dest: /etc/systemd/system/flanneld.service
    owner: root
    group: root
    mode: 0644
  notify:
    - reload systemd
  tags:
    - k8s-flannel

- name: Create flanneld configuration directory
  file:
    path: "{{flannel_options_dir}}"
    state: directory
    mode: 0700
    owner: root
    group: root
  tags:
    - k8s-flannel

- name: Install options file for flanneld
  template:
    src: etc/flannel/options.env.j2
    dest: "{{flannel_options_dir}}/options.env"
    owner: root
    group: root
    mode: 0644
  notify:
    - reload systemd
  tags:
    - k8s-flannel

- name: Ensure CNI config directory
  file:
    path: "{{k8s_cni_conf_dir}}"
    state: directory
    mode: 0755
    owner: root
    group: root
  tags:
    - k8s-flannel

- name: Install flanneld CNI config
  template:
    src: etc/cni/net.d/cni-flannel.conf.j2
    dest: "{{k8s_cni_conf_dir}}/{{flannel_cni_conf_file}}.conf"
    owner: root
    group: root
    mode: 0644
  tags:
    - k8s-flannel

- meta: flush_handlers

- name: Enable and start flanneld
  service:
    name: flanneld
    enabled: yes
    state: started
  tags:
    - k8s-flannel

